.modal{
    width: 300px;
}

.modal-content {
    width: 300px;
}
i{
    padding-right: 30px;
}
.list-group-item:hover {
    background-color: rgba(59, 57, 57, 0.144);
}

a {
    text-decoration: none;
}