<!-- versão com JS
<div class="modal-overlay" id="overlay">
    <div class="modal" id="modal">
        <div class="modal-header">
            Modal titlex1
        </div>
        <div class="modal-content">
            content
        </div>
        <div class="modal-footer">
            footer
        </div>
    </div>
</div>

<button onclick="openModal()">Open modal</button>
-->

<!--versão com navabar horizontal-->

<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <span class="navbar-brand">NaturaSSP</span>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" routerLink='/dashboard'><i
                                class="fas fa-home fa-2x"></i>Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink='/categorias'>
                            <i class="fas fa-list-ul fa-2x"></i>Categorias</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink='/produtos'><i class="fas fa-box-open fa-2x"></i>Produtos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink='/pedidos'><i class="fas fa-file-invoice fa-2x"></i>Pedidos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fas fa-users fa-2x"></i>Clientes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fas fa-chart-pie fa-2x"></i>Relatórios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fas fa-key fa-2x"></i>Usuários</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="logout()"><i class="fas fa-sign-out-alt fa-2x "></i>Sair</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<!-- versão sidebar sem JS
    
<nav class="navbar navbar-light bg-light shadow">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>

<div class="modal fade" id="overlay" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen" id="modal">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">NaturaSSP</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><i class="fas fa-home fa-2x"></i>Home</li>

                    <li class="list-group-item">
                        <a class="nav-link" aria-current="page" routerLink='/dashboard'>
                            <i class="far fa-chart-bar fa-2x"></i>Dashboard</a>
                    </li>

                    <li class="list-group-item">
                        <a class="nav-link" aria-current="page" routerLink='/categorias'>
                            <i class="fas fa-list-ol fa-2x"></i>Categorias</a>
                    </li>

                    <li class="list-group-item"><i class="fas fa-box-open fa-2x"></i>Produtos</li>

                    <li class="list-group-item"><i class="fas fa-users fa-2x"></i>Clientes</li>

                    <li class="list-group-item"><i class="fas fa-key fa-2x"></i>Usuários</li>

                    <li class="list-group-item"><i class="fas fa-sign-out-alt fa-2x"></i>Sair</li>
                </ul>
            </div>
        </div>
    </div>
</div>
-->