.modal{
  width: 300px;
}

.modal-content {
    width: 300px;
}

ul{
  display: flex;
  justify-content: space-between;
}

i{
    padding-right: 5px;
}

.list-group-item:hover {
  background-color: rgba(59, 57, 57, 0.144);
}

a {
  text-decoration: none;
  cursor: pointer;
}