<app-navbar></app-navbar>

<div class="container-fluid">
    <div class="row text-center">
        <h1>Gerenciar Produto</h1>
    </div>
</div>

<div class="container">
    <div class="col-sm">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nome Produto</th>
                    <th scope="col">Preço</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Em Destaque</th>
                    <th scope="col">Disponível</th>
                </tr>
            </thead>
            <tbody>
                <!-- AQUI O LOOP DOS PRODUTOS -->
                <tr *ngFor="let Item of lista">
                    <td scope="row">{{ Item.id }}</td>
                    <td><a class="nav-link" routerLink='/editarproduto/{{Item.id}}'>{{ Item.nome }}</a></td>
                    <td>{{ Item.preco | number: '1.2-2' | currency: 'BRL' }}</td>
                    <td>{{ Item.categoria.nome }}</td>
                    <td>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="chkDestaque" (click)="destaque(Item.id)">
                        </div>
                    </td>
                    <td>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="chkDisponivel" (click)="disponivel(Item.id)">
                          </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="d-flex justify-content-center mb-3">
        <a type="button" class="btn btn-primary" routerLink='/editarproduto/new'>
            <i class="fas fa-plus"></i> Add Produto
        </a>
    </div>
</div>