<app-navbar></app-navbar>
<div class="container">
    <div class="row" *ngIf="mode == 0">
        <div class="col-sm text-center">
            <h3>Inserindo novo produto</h3>
        </div>
    </div>

    <div class="row" *ngIf="mode == 1">
        <div class="col-sm text-center">
            <h3>Editor de Produtos</h3>
        </div>
    </div>

    <div class="row col-sm">
        <label for="formFile" class="form-label">Selecione a foto do produto</label>
        <div class="input-group mb-3">
            <input class="form-control" type="file" id="formFile" (change)="selectFile($event)">
            <button type="button" class="btn btn-primary" (click)="uploadFoto()">Enviar</button>
        </div>
    </div>

    <div class="row" id="divFoto">
        <div class="col-sm d-flex justify-content-center">
            <img class="ajuste" *ngIf="produto.linkFoto; else foto " src="{{produto.linkFoto}}">
        </div>

        <ng-template #foto>
            <h4 class="text-center mt-2">Foto do produto</h4>
        </ng-template>
    </div>


    <div class="row">
        <div class="col-sm mb-3">
            <label for="txtNome" class="form-label">Nome do Produto</label>
            <input type="text" class="form-control" id="txtNome" [(ngModel)]="produto.nome">
        </div>
    </div>
    <div class="row">
        <div class="col-sm mb-3">
            <label for="txtDetalhe" class="form-label">Detalhamento do Produto</label>
            <input type="text" class="form-control" id="txtDetalhe" [(ngModel)]="produto.detalhe">
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-sm">
            <label for="txtCategoria" class="form-label">Categoria</label>
            <select id="txtCategoria" class="form-control" [(ngModel)]="produto.categoria.id">
                <option *ngFor="let CATEG of listaCategorias" value={{CATEG.id}}> {{CATEG.nome}}</option>
            </select>
        </div>
        <div class="col-sm">
            <label for="txtPreco" class="form-label">Preço</label>
            <input type="number" class="form-control" id="txtPreco" [(ngModel)]="produto.preco">
        </div>
        <div class="col-sm-2" id="checks">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="chkDisponivel" [(ngModel)]="disponivel">
                <label class="form-check-label" for="chkDisponivel">Disponível</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="chkDestaque" [(ngModel)]="destaque">
                <label class="form-check-label" for="chkDestaque">Destaque</label>
            </div>
        </div>
    </div>

    <div class="row">
        
    </div>

    <div class="container d-flex justify-content-evenly mb-3">
        <button type="button" class="btn btn-primary" routerLink='/produtos'>
            <i class="fas fa-arrow-left"></i> Voltar
        </button>
        <button class="btn btn-primary" (click)="inserirProduto()">
            Atualizar Dados
        </button>
    </div>
</div>

<div class="modal fade" id="modalResultado" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Resultado da Operação</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{mensagemTOAST}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                    (click)="fecharModal()">Close</button>
            </div>
        </div>
    </div>
</div>